{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}
      Login
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Вход</h3>
    </div>
    <div class="clear"></div>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
        <a class="forgot-label" href="{% url 'auth_app:password_recovery' %}">Забыли пароль?</a>
        <a class="registr" href="{% url 'auth_app:register' %}">
            Регистрация
        </a>
    </form>
</div>

{% endblock %}

