{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}
      Login
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Вход</h3>
    </div>
    <div class="clear"></div>
    <form action="#">
        <div>
            <input class="user-input" type="text" name="name" id="name" placeholder="E-mail" />
        </div>
        <div>

            <input type="password" name="pass" id="name" placeholder="*********" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
        <a class="forgot-label" href="e-mail.html">Забыли пароль?</a>
        <a class="registr" href="registr.html">
            Регистрация
        </a>
    </form>
</div>

{% endblock %}

