{% extends 'coreapp/base.html' %}
{% load static %}

{% block title %}
      Catalog
{% endblock %}

{% block main %}
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sortLinks = document.querySelectorAll('.Sort-variants a');

            sortLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    var sortValue = link.getAttribute('href').split('=')[1];
                    var currentUrl = window.location.href;
                    var url = updateQueryStringParameter(currentUrl, 'sort', sortValue);

                    window.location.href = url;
                });
            });

            function updateQueryStringParameter(uri, key, value) {
                var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                if (uri.match(re)) {
                    return uri.replace(re, '$1' + key + "=" + value + '$2');
                } else {
                    return uri + separator + key + "=" + value;
                }
            }
        });
    </script>

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Фильтр</strong>
                        </header>
                        <div class="Section-columnContent">
                            <form class="form" action="{% url 'catalog:catalog' %}" method="get">
                                <div class="form-group">
                                    <div class="range Section-columnRange">
                                        <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="70" data-max="500" data-from="70" data-to="270" />
                                        <div class="range-price">Цена:&#32;
                                            <div class="rangePrice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название" />
                                </div>
                                <div class="form-group">
                                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        <input type="checkbox" name="available" {% if request.GET.available == 'True' %}checked{% endif %} />
                                        <span class="toggle-box"></span>
                                        <span class="toggle-text">Только товары в наличии</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="toggle">
                                        <input type="checkbox" name="free_delivery" {% if request.GET.free_delivery == 'True' %}checked{% endif %} />
                                        <span class="toggle-box"></span>
                                        <span class="toggle-text">С бесплатной доставкой</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <div class="buttons">
                                        <button type="submit" class="btn btn_square btn_dark btn_narrow">Фильтр</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Популярные тэги
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="buttons">
                                <a class="btn btn_default btn_sm" href="#">Видео</a>
                                <a class="btn btn_default btn_sm" href="#">Разработка</a>
                                <a class="btn btn_default btn_sm" href="#">Игры</a>
                                <a class="btn btn_default btn_sm" href="#">Asus</a>
                                <a class="btn btn_default btn_sm" href="#">Разработка</a>
                                <a class="btn btn_default btn_sm" href="#">Видео</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:</div>
                            <div class="Sort-variants">
                                <a class="Sort-sortBy Sort-sortBy_dec" href="?sort=popularity">Популярности</a>
                                <a class="Sort-sortBy" href="?sort=price">Цене</a>
                                <a class="Sort-sortBy" href="?sort=reviews">Отзывам</a>
                                <a class="Sort-sortBy Sort-sortBy_inc" href="?sort=newness">Новизне</a>
                            </div>
                    </div>
                    <div class="Cards">
                        {% for product in products %}
                            <div class="Card">
                                <div class="Card">
                                    <a class="Card-picture" href="#"><img src="{{ product.image.url }}" alt="{{ product.title }}" /></a>
                                    <div class="Card-content">
                                        <strong class="Card-title">
                                            <a href="{% url 'catalog:product' product_id=product.id %}">{{ product.title }}</a>
                                        </strong>
                                        <div class="Card-description">
                                            <div class="Card-cost">
                                                <span class="Card-price">${{ product.prices.first.price }}</span>
                                            </div>
                                            <div class="Card-category">{{ product.category.title }}</div>
                                            <div class="Card-hover">
                                                <a class="Card-btn" href="{% url 'catalog:product' product_id=product.id %}">
                                                    <img src="/static/assets/img/icons/card/cart.svg" alt="cart.svg" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            {% if products.has_previous %}
                                <a class="Pagination-element Pagination-element_prev" href="?page={{ products.previous_page_number }}"><img src="/static/assets/img/icons/prevPagination.svg" alt="prevPagination.svg" /></a>
                            {% else %}
                                <span class="Pagination-element Pagination-element_prev_disabled"><img src="/static/assets/img/icons/prevPagination.svg" alt="prevPagination.svg" /></span>
                            {% endif %}
                            {% if products.paginator.num_pages > 0 %}
                                {% for num in products.paginator.page_range %}
                                    <a class="Pagination-element{% if num == products.number %} Pagination-element_current{% endif %}" href="?page={{ num }}"><span class="Pagination-text">{{ num }}</span></a>
                                {% endfor %}
                            {% else %}
                                <span class="Pagination-element Pagination-element_current"><span class="Pagination-text">1</span></span>
                            {% endif %}
                            {% if products.has_next %}
                                <a class="Pagination-element" href="?page={{ products.next_page_number }}"><img src="/static/assets/img/icons/nextPagination.svg" alt="nextPagination.svg" /></a>
                            {% else %}
                                <span class="Pagination-element Pagination-element_next_disabled"><img src="/static/assets/img/icons/nextPagination.svg" alt="nextPagination.svg" /></span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
